.statepath {
  fill-opacity: .2;
  stroke: gray;
  stroke-width: 1px;
}

.countypath {
  fill-opacity: .8;
  stroke: black;
  stroke-width: 1px;
}

.lowSales {
  fill: red;
}

.avgSales {
  fill: blue;
}

.highSales {
  fill: green;
}

.countypath:hover {
  fill-opacity: .3;
}
